<html>
    <head>
        <title>View the application</title>
    </head>
<body>
    <h1 class="well well-sm" style="background-color: rgb(19,77,107);color:#FDFEFE">View Application</h1>
    <div class="top">
    Application ID :{{ data.id}}<br/>
    Application Status : {{data.applicationStatus}}<br/>
    Score : {{data.score}}<br/>
    Decline Reason : {{data.declineReason}}<br/><br/>
    </div>
<div class="container" >
<table class="center" class="table table-bordered">
    <tbody>
<tr>
    <td class="heading"> Personal Details</td>
</tr>
<tr>
    <td>First Name</td>
    <td>{{data.firstName}}</td> 
</tr>
<tr>
    <td>Middle Name</td>
    <td>{{data.middleName}}</td>
</tr>
<tr>
    <td>Last Name</td>
    <td>{{data.lastName}}</td>
</tr>
<tr>
    <td>Date of Birth</td>
    <td>{{data.dateofBirth}}</td>
</tr>
<tr>
    <td>Marital Status</td>
    <td>{{data.maritalStatus}}</td>
</tr>
<tr>
    <td>SSN Number</td>
    <td>{{data.ssnnumber}}</td>
</tr>
<tr>
    <td>Loan Amount</td>
    <td>{{data.loanAmount}}</td>
</tr>
<tr>
    <td>Loan Purpose</td>
    <td>{{data.loanPurpose}}</td>
</tr>
<tr>
    <td>Description</td>
    <td>{{data.description}}</td>
</tr> 
    <tr>
        <td class="heading"> Address</td>
    </tr>
    <tr>
        <td> Address Line 1 </td>
        <td>{{data.addressLine1}}</td>
    </tr>
    <tr>
        <td> Address Line 1 </td>
        <td>{{data.addressLine2}}</td>
    </tr>
    <tr>
        <td> City </td>
        <td>{{data.city}}</td>
    </tr>
    <tr>
        <td> State </td>
        <td>{{data.state}}</td>
    </tr>
    <tr>
        <td> Postal Code </td>
        <td>{{data.postalCode}}</td>
    </tr>
    <!--</tbody>
    </table>
    <table class="center" class="table table-striped">
        <tbody>-->
    <tr>
        <td class="heading">Contact Information</td>
    </tr>
    <tr>
        <td>Home Phone </td>
        <td>{{data.homePhone}}</td>
    </tr>
    <tr>
        <td>Office Phone </td>
        <td>{{data.officePhone}}</td>
    </tr>
    <tr>
        <td>Mobile </td>
        <td>{{data.mobile}}</td>
    </tr>
    <tr>
        <td>Email Address  </td>
        <td>{{data.emailAddress}}</td>
    </tr>
          <!--  </tbody>
    </table>
        <table class="center" class="table table-striped">
            <tbody>-->
    <tr>
    <td class="heading"> Employment Details</td>
        </tr>
    <tr>
        <td>Employer Name</td>
        <td>{{data.employername}}</td>
    </tr>
    <tr>
        <td>Annual Salary</td>
        <td>{{data.annualSalary}}</td>
    </tr>
    <tr>
        <td>Work Experience</td>
        <td>Years : {{data.workExperienceYears}} </td>
    </tr>
        <tr>
        <td></td>
        <td>Months : {{data.workExperienceMonth}}</td>
    </tr>
    <tr>
        <td>Designation</td>
        <td>{{data.designation}}</td>
    </tr>
    <tr>
        <td style="font-weight:bold ">Employment Address</td>
    </tr>
    <tr>
        <td>Employer Address Line 1 </td>
        <td>{{data.employerAddress1}}</td>
    </tr>
    <tr>
        <td>Employer Address Line 1 </td>
        <td>{{data.employerAddress2}}</td>
    </tr>
    <tr>
        <td>Employer City </td>
        <td>{{data.employerCity}}</td>
    </tr>
    <tr>
        <td>Employer State </td>
        <td>{{data.employerState}}</td>
    </tr>
    <tr>
        <td>Employer Postal Code  </td>
        <td>{{data.employerPostalCode}}</td>
    </tr>
    </tbody>
    </table>
</div>
    <div align="center">
        <button  class="btn btn-default" style="background-color: rgb(19,77,107);color:#FDFEFE" (click)="handleClick3()" type="button">Back</button>
    </div>
</body>
</html>