<div class="container">
    <h1>Submit Application</h1>
    <form [formGroup]="personForm"  class="form-horizontal" >
          <div class="form-group">
              <label class="control-label col-sm-2">First Name</label>
              <div class="col-sm-10">
                      <input type="text" class="form-control" formControlName="firstName"  placeholder="First name" />
                      <span style="color:red" *ngIf="personForm.controls['firstName'].hasError('required')">First Name is required</span> 
                      <span style="color:red" *ngIf="personForm.controls['firstName'].hasError('maxlength')">First Name is too long</span> 
              </div>
    
              <!--<input  type="text" class="form-control" formControlName="firstName"/>-->
          </div>
                 <!--<div class="alert alert-danger" *ngIf="personForm.controls['firstName'].hasError('required')">
                      First Name Cannot be Empty
                  </div>-->
          
               
          <div  class="form-group">
                <label class="control-label col-sm-2">Middle Name</label>
                <div class="col-sm-10">
                      <input  type="text" class="form-control" formControlName="middleName"  placeholder="Middle name" />
                      <span style="color:red" *ngIf="personForm.controls['middleName'].hasError('maxlength')">Middle Name is too long</span>
                </div>
          </div>
          <div  class="form-group">
              <label class="control-label col-sm-2">Last Name</label>
              <div class="col-sm-10">
                      <input  type="text" class="form-control" formControlName="lastName"  placeholder="Last name"/>
                      <span style="color:red" *ngIf="personForm.controls['lastName'].hasError('required')">Last Name is required</span> 
                      <span style="color:red" *ngIf="personForm.controls['lastName'].hasError('maxlength')">Last Name is too long</span> 
              </div>
          </div>
          <div  class="form-group">
                <label class="control-label col-sm-2">Date of Birth</label>
                <div class="col-sm-10">
                        <input  type="text" class="form-control" formControlName="dateofBirth"  placeholder="Date of birth" name="dateofBirth"/>
                        <span style="color:red" *ngIf="personForm.controls['dateofBirth'].hasError('required')">Date of birth is required</span>
                </div>
          </div>
          <div  class="form-group">
                <label class="control-label col-sm-2">Marital Status</label>
                <div class="col-sm-10">
                      <select class="form-control" formControlName="maritalStatus">
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Separated">Separated</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Widowed">Widowed</option>
                      </select>
                      <span style="color:red" *ngIf="personForm.controls['maritalStatus'].hasError('required')">Marital Status is required</span>
                </div>      
          </div>
          <div  class="form-group">
                <label class="control-label col-sm-2">SSN Number</label>
                <div class="col-sm-10">
                        <input  type="text" class="form-control" formControlName="ssnnumber"  placeholder="SSN Number" />
                        <span style="color:red" *ngIf="personForm.controls['ssnnumber'].hasError('required')">SSN number is required</span>
                </div>
          </div>
          <div  class="form-group">
                <label class="control-label col-sm-2">Loan Amount</label>
                <div class="col-sm-10">
                        <input  type="number" class="form-control" formControlName="loanAmount"  placeholder="loanAmount" />
                        <span style="color:red" *ngIf="personForm.controls['loanAmount'].hasError('required')">Loan Amount is required</span>
                      </div>
          </div>
          <div  class="form-group">
                <label class="control-label col-sm-2">Loan Purpose</label>
                <div class="col-sm-10" >
                      <select class="form-control" formControlName="loanPurpose" >
                            <option value="Debt">Debt</option>
                            <option value="Educational Loan">Educational Loan</option>
                            <option value="Home Loan">Home Loan</option>
                            <option value="Personal Loan">Personal Loan</option>
                      </select>
                      <span  style="color:red" *ngIf="personForm.controls['loanPurpose'].hasError('required')">Purpose of loan is Required </span>
                </div>
          </div>
          <div  class="form-group">
                <label class="control-label col-sm-2">Description</label>
                <div class="col-sm-10">
                        <input  type="text" class="form-control" formControlName="description"  placeholder="Describe the reason why you are applying for the loan" name="description"/>
                </div>
          </div>
                
                <h3 >Address</h3>
              <div class="form-group">
                    <label  class="control-label col-sm-2">Address Line 1</label>
                    <div class="col-sm-10">
                      <input  type="text" class="form-control" name="addressLine1" formControlName="addressLine1" placeholder="Address Line 1"/>
                      <span  style="color:red" *ngIf="personForm.controls['addressLine1'].hasError('required')">Address line 1 is Required </span>
                      <span style="color:red" *ngIf="personForm.controls['addressLine1'].hasError('maxlength')">Address is too long</span> 
                    </div>
              </div>
              <div class="form-group">
                   <label  class="control-label col-sm-2">Address Line 2</label>
                   <div class="col-sm-10">
                   <input  type="text" class="form-control" formControlName="addressLine2" placeholder="Address Line 2"/>
                   <span  style="color:red" *ngIf="personForm.controls['addressLine2'].hasError('required')">Address line 2 is Required </span>
                   <span style="color:red" *ngIf="personForm.controls['addressLine2'].hasError('maxlength')">Address is too long</span> 
                   </div>
              </div>
              <div class="form-group">
                   <label  class="control-label col-sm-2">City</label>
                   <div class="col-sm-10">
                   <input  type="text" class="form-control" formControlName="city"  placeholder="City"/>
                   <span   style="color:red"  *ngIf="personForm.controls['city'].hasError('required')">City is Required </span>
                   <span style="color:red" *ngIf="personForm.controls['city'].hasError('maxlength')">City Name is too long</span> 
                   </div>
              </div>
              <div class="form-group">
                <label  class="control-label col-sm-2">State</label>
                <div class="col-sm-10">
                <input  type="text" class="form-control" formControlName="state"  placeholder="State"/>
                <span  style="color:red"   *ngIf="personForm.controls['state'].hasError('required')">State is Required </span>
                <span style="color:red" *ngIf="personForm.controls['state'].hasError('maxlength')">State Name is too long</span> 
                </div>
              </div>
              <div class="form-group">
                <label  class="control-label col-sm-2">Postal Code</label>
                <div class="col-sm-10">
                <input  type="number" class="form-control" formControlName="postalCode"  placeholder="12345"/>
                <span   style="color:red"  *ngIf="personForm.controls['postalCode'].hasError('required')">Postal code is Required </span>
                <span   style="color:red"  *ngIf="personForm.controls['postalCode'].hasError('maxlength')">Only 5 digits </span>
                </div>
              </div>
    
              <h3>Contact Information</h3>
              <div class="form-group">
                    <label  class="control-label col-sm-2">Home Phone</label>
                    <div class="col-sm-10">
                    <input  type="text" class="form-control" formControlName="homePhone"  placeholder="12345"/>
                    <span  style="color:red" *ngIf="personForm.controls['homePhone'].hasError('required')">Home Phone is Required </span>
                      </div>
              </div>
              <div class="form-group">
                   <label  class="control-label col-sm-2">Office Phone</label>
                   <div class="col-sm-10">
                   <input  type="text" class="form-control" formControlName="officePhone"  placeholder="12345"/>
                   </div>
              </div>
              <div class="form-group">
                   <label  class="control-label col-sm-2">Mobile</label>
                   <div class="col-sm-10">
                   <input  type="text" class="form-control" formControlName="mobile"  placeholder="12345"/>
                   <span  style="color:red"  *ngIf="personForm.controls['mobile'].hasError('required')">Mobile Number is Required </span>
                </div>
              </div>
              <div class="form-group">
                <label  class="control-label col-sm-2">Email Address</label>
                <div class="col-sm-10">
                <input  type="emailAddress" class="form-control" formControlName="emailAddress"  placeholder="test@test.com"/>
                <span   style="color:red"  *ngIf="personForm.controls['emailAddress'].hasError('required')">Email Address is Required </span>
                </div>
              </div>
    
              <h3>Employment Details</h3>
              <div class="form-group">
                    <label  class="control-label col-sm-2">Employer name</label>
                    <div class="col-sm-10">
                    <input  type="text" class="form-control" formControlName="employername"  placeholder="Name"/>
                    <span  style="color:red" *ngIf="personForm.controls['employername'].hasError('required')">Employee Name is Required </span>
                    <span style="color:red" *ngIf="personForm.controls['employername'].hasError('maxlength')">Employee Name is too long</span> 
                    </div>
              </div>
              <div class="form-group">
                   <label  class="control-label col-sm-2">Annual Salary</label>
                   <div class="col-sm-10">
                   <input  type="text" class="form-control" formControlName="annualSalary"  placeholder="Annual Salary"/>
                   <span  style="color:red" *ngIf="personForm.controls['annualSalary'].hasError('required')">Employee Salary details is Required </span>
                  </div>
              </div>
              <div class="form-group">
                   <label  class="control-label col-sm-2">Designation</label>
                   <div class="col-sm-10">
                   <input  type="text" class="form-control" formControlName="designation"  placeholder="Designation"/>
                   <span style="color:red" *ngIf="personForm.controls['designation'].hasError('maxlength')">Designation is too long</span> 
                  </div>
              </div>
              <div class="form-group">
                <label  class="control-label col-sm-2">Work Experience</label>
                <div class="col-sm-10">
                <input  type="text" class="form-control" formControlName="workExperienceMonth"  placeholder="Work Experience Months"/>
                <input  type="text" class="form-control" formControlName="workExperienceYears"  placeholder="Work Experience Years"/>
                  </div>
              </div>
          
                      <h4>Address</h4>
                      <div class="form-group">
                            <label  class="control-label col-sm-2">Address Line 1</label>
                            <div class="col-sm-10">  
                            <input  type="text" class="form-control" formControlName="employerAddress1"  placeholder="Address Line 1"/>
                            <span  style="color:red" *ngIf="personForm.controls['employerAddress1'].hasError('required')">Employee Address is Required </span>
                             <span style="color:red" *ngIf="personForm.controls['employerAddress1'].hasError('maxlength')">Employee Address is too long</span> 
                            </div>
                       </div>
                      <div class="form-group">
                            <label  class="control-label col-sm-2">Address Line 2</label>
                            <div class="col-sm-10"> 
                             <input  type="text" class="form-control" formControlName="employerAddress2"  placeholder="Address Line 2"/>
                             <span style="color:red" *ngIf="personForm.controls['employerAddress2'].hasError('maxlength')">Employee Address is too long</span> 
                             </div>
                       </div>
                      <div class="form-group">
                            <label  class="control-label col-sm-2">City</label>
                            <div class="col-sm-10"> 
                            <input  type="text" class="form-control" formControlName="employerCity"  placeholder="City"/>
                            <span  style="color:red" *ngIf="personForm.controls['employerCity'].hasError('required')">Employee city is Required </span>
                             <span style="color:red" *ngIf="personForm.controls['employerCity'].hasError('maxlength')">Employee city is too long</span> 
                            </div>
                      </div>
                      <div class="form-group">
                            <label class="control-label col-sm-2">State</label>
                            <div class="col-sm-10"> 
                            <input  type="text" class="form-control" formControlName="employerState"  placeholder="State"/>
                            <span  style="color:red" *ngIf="personForm.controls['employerState'].hasError('required')">Employee State is Required </span>
                             <span style="color:red" *ngIf="personForm.controls['employerState'].hasError('maxlength')">Employee State is too long</span> 
                            </div>
                      </div>
                      <div class="form-group">
                             <label class="control-label col-sm-2">Postal Code</label>
                             <div class="col-sm-10"> 
                             <input  type="text" class="form-control" formControlName="employerPostalCode"  placeholder="12345"/>
                             <span  style="color:red" *ngIf="personForm.controls['employerPostalCode'].hasError('required')">Employee Postal Code is Required </span>
                             </div>
                       </div>
        
        <div align="center">
              <tr>
                    <td><button [disabled]="!personForm.valid" (click)="onSubmit(personForm.value)" type="submit">Submit</button></td>
                    <td><button  type="reset">Cancel</button></td>
              </tr>
        </div>
           
    </form>
    </div>