<html>
    <head>
        <title>View Applications</title>
    </head>
    <body>
        <div class="container">
        <h2>View Applications</h2>
        <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">You can view the application here</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Applicant ID</th>
                    <th> Applicant Name</th>
                    <th>Submitted Date</th>
                    <th>Status</th>   
                </tr>
            </thead>
        
        <tbody>
            <tr *ngFor="let c of data">
                <td><a [routerLink]=" " (click)="onPress(c.id)">{{c.id}}</a></td>
                <td>{{c.firstName+c.middleName+c.lastName}}</td>
                <td>{{c.dateSubmitted}}</td>
                <td>{{c.applicationStatus}}</td>
            </tr>
        </tbody>
      </table><br/><br/>
    </div>
    <div align="center">
        <button class="btn btn-default" style="background-color: rgb(19,77,107);color:#FDFEFE" (click)="handleClick3()" type="button">Back</button>
    </div>
    </body>
</html>
