<html>
    <head>
        <title>Success</title>
    </head>
    <body>
        <h1>Application Submitted Successfully <span style="color:#2ECC71 " class="glyphicon glyphicon-ok-circle"></span></h1>
        <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">CONGRATULATIONS!!!!  Your Application is submitted successfully.Our automated system will determine if your application is 
            accepted or not.
        </p><br/><br/>

    <button class="btn btn-default" style="background-color: rgb(19,77,107);color:#FDFEFE;margin:5px" (click)="handleClick5()" type="button">Home</button>
    <button class="btn btn-default" style="background-color: rgb(19,77,107);color:#FDFEFE;margin:5px" (click)="handleClick6()" type="button">View applications</button>

    </body>
</html>

